<section id="linkes" class="linkes">
    <header class="header-section">
    <div class="header-wrap">
        <div class="header-social d-flex justify-content-end">
            <p>Follow us:</p>
            <a href="#"><img src="../../assets/pinterest.png"></a>
            <a href="#"><img src="../../assets/facebook (4).png"></a>
            <a href="#"><img src="../../assets/twitter (5).png"></a>
            <a href="#"><img src="../../assets/dribble (5).png"></a>
            <a href="#"><img src="../../assets/behance.png"></a>
        </div>
        <div class="header-bar-wrap d-flex">
            <a href="home.component.html" class="logo">
                <img src="https://themewagon.github.io/endgame/img/logo.png">
            </a>
            <nav class="top-nav-area w-100">
                <div class="user-panel">
                    <a href>Login</a> /
                    <a href>Register</a>
                </div>
                <ul class="main-menu d-flex">
                    <li style="padding-left: 250px;">Home</li>
                    <li>Games</li>
                    <li>Reviews</li>
                    <li>News</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="container heading">
    <h2>Game on!</h2>
    <p>
        Fusce erat dui, venenatis et erat in, vulputate dignissim lacus. Donec vitae tempus dolor,
        <br>sit amet elementum lorem. Ut cursus tempor turpis.
    </p>
    <a href class="site-btn">
        Read More
        <img src="https://themewagon.github.io/endgame/img/icons/double-arrow.png">
    </a>
</div>
<div class="button">
    <img src="https://themewagon.github.io/endgame/img/icons/solid-right-arrow.png">
</div>
<div class="number">
    <p class="p1">01.</p>
    <p>02.</p>
</div>
</section>

<section id="intro">
   <div class="container">
    <div class="row">
        <div class="col-md-4 num-1">
            <a>11.11.18/in <span>Games</span></a>
            <h3>The best online game is out now!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Quis ipsum suspendisse ultrices gravida....</p>
            <a href="#" class="read-more">READ MORE <img src="	https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
        </div>
        <div class="col-md-4 num-1">
            <a>11.11.18/in <span>Playstation</span></a>
            <h3>Top 5 best games in november</h3>
            <p>Lorem dolor sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Quis ipsum suspendisse ultrices gravida....</p>
            <a href="#" class="read-more">READ MORE <img src="	https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
        </div>
        <div class="col-md-4 num-1">
            <a>11.11.18/in <span>Reviews</span></a>
            <h3>Get this game at a promo price</h3>
            <p>Sit amet, consectetur adipisicing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Quis ipsum suspendisse ultrices gravida ncididunt ut labore....</p>
            <a href="#" class="read-more">READ MORE <img src="	https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
        </div>
    </div>
   </div>
</section>

<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-lg-8 col-md-7">
                 <div class="heading">
                    <h2>Latest News</h2>
                 </div>
                 <ul class="first-ul">
                    <li><a>Racing</a></li>
                    <li><a>Shooters</a></li>
                    <li><a>Strategy</a></li>
                    <li><a>Online</a></li>
                 </ul>
                <div class="thumbnail">
                    <div class="blog-image">
                        <img src="https://themewagon.github.io/endgame/img/blog/1.jpg">
                     </div>
                     <div class="blog-text">
                        <div class="blow">
                            11.11.18 / in <a href="#" class="game">Games</a>
                        </div>
                        <h3>The best online game is out now!</h3>
                        <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....
                        </p>
                        <a href="#" class="read-more">Read more <img src="https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
                     </div>
                </div>
                <div class="thumbnail">
                    <div class="blog-image">
                        <img src="https://themewagon.github.io/endgame/img/blog/2.jpg">
                     </div>
                     <div class="blog-text">
                        <div class="blow">
                            11.11.18 / in <a href="#" class="game">Games</a>
                        </div>
                        <h3>The best online game is out now!</h3>
                        <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....
                        </p>
                        <a href="#" class="read-more">Read more <img src="https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
                     </div>
                </div>
                <div class="thumbnail">
                    <div class="blog-image">
                        <img src="https://themewagon.github.io/endgame/img/blog/3.jpg">
                     </div>
                     <div class="blog-text">
                        <div class="blow">
                            11.11.18 / in <a href="#" class="game">Games</a>
                        </div>
                        <h3>The best online game is out now!</h3>
                        <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....
                        </p>
                        <a href="#" class="read-more">Read more <img src="https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
                     </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                <div class="inner-wrapper">
                     <div class="widget-item">
                        <h4 class="trend">Trending</h4>
                        <div class="item">
                             <div class="pic">
                                <img src="	https://themewagon.github.io/endgame/img/blog-widget/1.jpg">
                             </div>
                             <div class="pictext">
                                <div class="blow1">
                                    11.11.18 / in <a href="#">Games</a>
                                </div>
                                <h5>The best online game is out now!</h5>
                             </div>
                        </div>
                        <div class="item">
                            <div class="pic">
                                <img src="https://themewagon.github.io/endgame/img/blog-widget/2.jpg">
                             </div>
                             <div class="pictext">
                                <div class="blow1">
                                    11.11.18 / in <a href="#">Games</a>
                                </div>
                                <h5>The best online game is out now!</h5>
                             </div>
                        </div>
                        <div class="item">
                            <div class="pic">
                                <img src="https://themewagon.github.io/endgame/img/blog-widget/3.jpg">
                             </div>
                             <div class="pictext">
                                <div class="blow1">
                                    11.11.18 / in <a href="#">Games</a>
                                </div>
                                <h5>The best online game is out now!</h5>
                             </div>
                        </div>
                        <div class="item">
                            <div class="pic">
                                <img src="https://themewagon.github.io/endgame/img/blog-widget/4.jpg">
                             </div>
                             <div class="pictext">
                                <div class="blow1">
                                    11.11.18 / in <a href="#">Games</a>
                                </div>
                                <h5>The best online game is out now!</h5>
                             </div>
                        </div>
                     </div>
                     <div class="widget-item">
                        <div class="catagory">
                            <h4 class="cata">Categories</h4>
                            <ul class="sec-ul">
                                <li><a>Games</a></li>
                                <li><a>Gaming Tips & Tricks</a></li>
                                <li><a>Online Games</a></li>
                                <li><a>Team Games</a></li>
                                <li><a>Community</a></li>
                                <li><a>Uncategorized</a></li>
                            </ul>
                        </div>
                     </div>
                     <div class="widget-item">
                        <img class="poster" src="https://themewagon.github.io/endgame/img/add.jpg">
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video d-flex align-items-end">
<div class="vdo-bg">
    <a href="https://www.youtube.com/watch?v=uFsGy5x_fyQ" class="video-play-btn video-popup"><img src="	https://themewagon.github.io/endgame/img/icons/solid-right-arrow.png" alt="#"></a>
    <div class="container vdo-container">
        <div class="vdo-text">
            <h2>Promo video of the game</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
    </div>
</div>
</section>

<section class="feature">
    <div class="featured-bg"></div>
    <div class="featured-box">
        <div class="text-box">
            <div class="top-title">
                11.11.18 / in <a href>Games</a>
            </div>
            <h3>The game you've been waiting for is out now</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum posuere porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat sit amet, commodo ipsum. Donec pellentesque vestibulum metus...</p>
            <a href="#" class="read-more">Read More <img src="	https://themewagon.github.io/endgame/img/icons/double-arrow.png"></a>
        </div>
    </div>
</section>

<section class="last">
    <div class="container">
        <h2>Subscribe to our newsletter</h2>
        <form class="newform">
            <input type="text" placeholder="ENTER YOUR E-MAIL">
            <button class="site-btn">subscribe  <img src="https://themewagon.github.io/endgame/img/icons/double-arrow.png"></button>
        </form>
    </div>
</section>

<footer class="footer">
<div class="container">
    <div class="pic-1">
        <img src="https://themewagon.github.io/endgame/img/footer-left-pic.png">
    </div>
    <div class="pic-2">
        <img src="https://themewagon.github.io/endgame/img/footer-right-pic.png">
    </div>
    <a href="#" class="footer-logo">
        <img src="https://themewagon.github.io/endgame/img/logo.png">
    </a>
    <ul class="main-menu footer-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Games</a></li>
        <li><a href="">Reviews</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <div class="footer-social d-flex justify-content-center">
        <a href="#"><img src="../../assets/pinterest.png"></a>
        <a href="#"><img src="../../assets/facebook (4).png"></a>
        <a href="#"><img src="../../assets/twitter (5).png"></a>
        <a href="#"><img src="../../assets/dribble (5).png"></a>
        <a href="#"><img src="../../assets/behance.png"></a>
    </div>
    <div class="copyright"><a href="">Colorlib</a> 2018 &#64; All rights reserved</div>
</div>
</footer>